.city-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city-weather-title-container {
  display: flex;
  align-items: center;
}

.city-weather-title {
  font-size: 26px;
  font-family: "Roboto-700", sans-serif;
  font-weight: 400;
  margin: 10px;
}

.city-weather-body {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  height: 140px;
  margin: 5px;
  font-size: 14px;
  box-shadow: 1px 2px 3px 0 rgb(200, 200, 200);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-card span {
  text-align: center;
}

.weather-card-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-transform: capitalize;
}

.weather-card-field span:first-child {
  font-size: 12px;
  margin-bottom: 5px;
  color: #023e8a;
  font-weight: 600;
  font-style: italic;
}

.weather-card-field span:last-child {
  font-size: 14px;
  background: #ade8f4;
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
  width: -webkit-fill-available;
  box-shadow: 1px 1px 4px 0 #023e8a;
  max-width: 200px;
}

.measure-combobox {
  width: 150px;
  margin-top: 20px;
}

.city-weather-details-map {
  width: 75vw;
  height: 65vh;
}

@media only screen and (max-width: 1220px) {
  .city-weather-body {
    flex-direction: column;
  }

  .weather-card {
    width: 60vw;
  }
}
