.cities-list-container {
  margin-left: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 25vw;
  height: 80vh;
  box-shadow: 1px 1px 4px 0 rgb(200, 200, 200);
}

.cities-list-body {
  overflow-y: auto;
  height: 70vh;
}

.cities-list-body a {
  text-decoration: none;
}

.cities-list-title {
  margin: 0 auto 10px auto;
  display: grid;
  width: auto;
  padding: 15px 10px;
  text-align: center;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  background-color: rgb(180, 180, 180);
  color: #fff;
}

.cities-list-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ade8f4;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 15px;
  box-shadow: 1px 1px 3px 0 rgb(200, 200, 200);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  color: #03045e;
}

.cities-list-item:hover {
  transform: scale(1.05);
  color: #03045e;
}

.no-data {
  color: rgb(180, 180, 180);
  font-size: 12px;
  display: grid;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 910px) {
  .cities-list-container {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
