span {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #caf0f8;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #03045e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
